/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$pixel-bg-dark};
  --global-code-bg-color: #{$pixel-bg-light};
  --global-text-color: #{$pixel-white};
  --global-text-color-light: #{$pixel-grey};
  --global-theme-color: #{$pixel-accent-cyan};
  --global-hover-color: #{$pixel-accent-pink};
  --global-hover-text-color: #{$pixel-black};
  --global-footer-bg-color: #{$pixel-bg-light};
  --global-footer-text-color: #{$pixel-accent-yellow};
  --global-footer-link-color: #{$pixel-accent-cyan};
  --global-distill-app-color: #{$pixel-accent-green};
  --global-divider-color: #{$pixel-grey};
  --global-card-bg-color: #{$pixel-bg-light};
  --global-highlight-color: #{$pixel-accent-yellow};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($pixel-accent-cyan, "red", $space: rgb)},
    #{color.channel($pixel-accent-cyan, "green", $space: rgb)},
    #{color.channel($pixel-accent-cyan, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$pixel-black};
  --global-newsletter-bg-color: #{$pixel-accent-green};
  --global-newsletter-text-color: #{$pixel-black};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{$pixel-black};
  --global-code-bg-color: #{$pixel-bg-dark};
  --global-text-color: #{$pixel-accent-yellow};
  --global-text-color-light: #{$pixel-grey};
  --global-theme-color: #{$pixel-accent-pink};
  --global-hover-color: #{$pixel-accent-cyan};
  --global-hover-text-color: #{$pixel-black};
  --global-footer-bg-color: #{$pixel-bg-dark};
  --global-footer-text-color: #{$pixel-accent-green};
  --global-footer-link-color: #{$pixel-accent-yellow};
  --global-distill-app-color: #{$pixel-accent-cyan};
  --global-divider-color: #{$pixel-grey};
  --global-card-bg-color: #{$pixel-bg-dark};
  --global-highlight-color: #{$pixel-accent-green};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($pixel-accent-pink, "red", $space: rgb)},
    #{color.channel($pixel-accent-pink, "green", $space: rgb)},
    #{color.channel($pixel-accent-pink, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$pixel-accent-yellow};
  --global-newsletter-bg-color: #{$pixel-accent-cyan};
  --global-newsletter-text-color: #{$pixel-black};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
